*,
*::after,
*::before,
h1 {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #131313;
}

ul,
li {
    padding: 0;
    list-style-type: none;
}

.body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #131313;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.nav {
    margin-right: 71px;
}

.nav-list {
    display: flex;
    gap: 0 10px;
}

.nav-list__link {
    min-height: 100%;
    padding: 42px 20px;
    transition: all .2s ease;
    ;
}

.nav-list__link:hover {
    color: #fff;
    background-color: #131313;
}

.bike {
    margin-top: 97px;
}

.bike__inner {
    display: flex;
    justify-content: space-between;
}

.bike-discription {
    max-width: 540px;
}

.bike-discription__titile {
    margin-top: 72px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.bike-discription__signature {
    margin: 15px 0 65px 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
}

.bike-discription__text {
    max-width: 420px;
}

.bike-discription__text--margin {
    margin-top: 20px;
}

.bike-discription__button {
    margin-top: 80px;
    padding: 28px 81px;
    display: inline-block;
    color: #fff;
    background-color: #131313;
    border: none;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bike-discription__button:hover {
    background-color: #FF4040;

}

.bike__column {
    max-width: 630px;
    height: 525px;
}

.bike-list {
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 0 5px;
}

.bike-list__item {
    max-width: 160px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0;
}

.bike-list__item h4 {
    font-weight: 700;
    text-transform: uppercase;
    color: #131313;
}

.bike-list__item span {
    margin: auto 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    color: #131313;
}

.bike-slider .slick-dots {
    right: 0;
    top: 52px;
}

.slick-dots {
    position: absolute;
}

.slick-dots li+li {
    padding-top: 10px;

}

.slick-dots button {
    width: 2px;
    height: 25px;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: #131313;
    cursor: pointer;
    transform: all .3s;
}

.slick-dots button:hover,
.slick-active button {
    background-color: #FF4040;
}

.info {
    margin: 150px 0;
}

.info__inner {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    gap: 0 60px;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.info-block h4 {
    max-width: 490px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}


.info-block span {
    max-width: 450px;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
}

.characteristics__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}

.characteristics__inner {
    display: flex;
}

.characteristics__table {
    margin-right: 60px;
    flex-basis: 570px;
}

.characteristics__list+.characteristics__list {
    margin-top: 31px;
}


.characteristics__heading {
    min-width: 100%;
    padding: 2px 0 3px;
    display: inline-block;
    color: #fff;
    background-color: #131313;
    text-transform: uppercase;
}

.characteristics__line {
    display: flex;
}

.characteristics__name,
.characteristics__discription {
    margin-top: 5px;
    flex-basis: 285px;
}

.characteristics__image {
    align-self: center;
}

.slider {
    margin: 150px 0 50px 0;
}

.slick-dots {
    top: 0;
    left: 0;
}

.slider__item {
    padding-left: 50px;
}

.price__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.form {
    max-width: 420px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.price-form__input {
    margin: 29px 0 20px;
}

.form__text {
    max-width: 300px;
    margin: 41px 0 29px 0;
}

.price-form__input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #131313;

}

.price-form__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #6F6F6F;
    opacity: 0.5;
}

.price-form__input:focus {
    outline: 0;
}

.price-form__text--margin {
    margin-bottom: 10px;
}

.select-color p {
    margin-bottom: 10px;
}

.price__inner {
    position: relative;
}

.form__lable+.form__lable {
    margin-left: 23px;
}

.form__input-radio {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__radio-style {
    width: 80px;
    height: 12px;
    border-radius: 30px;
    cursor: pointer;
}

.form__input-radio:checked+.form__bike {
    display: block;
}

.form__radio-style--gray {
    background: #6F6F6F;
}

.form__radio-style--white {
    background-color: #fff;
    border: 2px solid #6F6F6F;
}

.form__radio-style--red {
    background-color: #FF4040;
}

.select-color {
    display: flex;
}

.form__bike {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.form__price {
    width: 221px;
    height: 112px;
    position: absolute;
    top: 50px;
    left: -50px;
    font-size: 32px;
    line-height: 39px;
}

.form__price::after {
    content: '';
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: -35px;
    top: -45px;
    border-radius: 100%;
    border: 1px solid #FF4040;
}

.form__price::before {
    content: '';
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: -35px;
    top: -33px;
    border-radius: 100%;
    border: 1px solid #FF4040;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #131313;
}

.footer__inner {
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.politica {
    text-decoration: underline;
    color: #fff;
}

.social {
    display: flex;
    gap: 0 30px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.contact-list__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 10px;
    color: #fff;
}

/* media */
@media(max-width: 1105px) {
    .bike {
        margin-top: 45px;
    }

    .bike__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bike-discription {
        max-width: 95%;
        text-align: right;
    }

    .bike-discription__text {
        max-width: 100%;
    }

    .bike-discription__signature {
        margin-bottom: 45px;
    }

    .bike-discription__button {
        margin-top: 40px;
    }

    .info__image {
        display: none;
    }

    .info-block {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }

    .info-block__text {
        width: 45%;
    }
}

@media(max-width: 900px) {
    .nav {
        margin: 0;
    }
}

@media(max-width: 750px) {
    .container {
        padding: 0 5px;
    }

    .bike__column {
        max-width: 100%;
    }
    .info{
        margin-top: 100px;
    }
    .info-block__text {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media(max-width: 660px) {
    .header__inner {
        display: block;
    }

    .logo {
        justify-content: center;
    }

    .nav {
        margin-top: 30px;

    }

    .nav-list {
        justify-content: space-evenly;
    }

    .nav-list__link {
        padding: 25px 20px;
        pointer-events: none;
    }

    .bike-discription {
        max-width: 100%;
    }

    .bike__column {
        height: auto;
    }
}

@media(max-width: 650px) {
    .nav-list {
        gap: 0;
    }

    .nav-list__link {
        padding: 5px;
    }
}

@media(max-width: 570px) {
    .bike-discription__titile {
        font-size: 56px;
    }

    .bike-discription__signature {
        font-size: 32px;
    }


}

@media(max-width: 550px) {
    .bike-discription__button {
        padding: 28px 30px;
    }


}

@media(max-width: 500px) {
    .bike-discription {
        text-align: center;
    }

    .bike-discription__titile {
        font-size: 50px;
    }

    .bike-discription__signature {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .bike-list {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .bike-list__item {
        width: 50%;
    }
}


@media(max-width: 450px) {
    .bike-discription__titile {
        font-size: 45px;
    }

    .bike-discription__signature {
        font-size: 24px;
    }
}

@media(max-width: 405px) {
    .bike-discription__titile {
        font-size: 40px;
    }

    .bike-discription__signature {
        font-size: 20px;
    }

    .bike-discription__text {
        font-size: 13px;
    }
}

@media(max-width: 365px) {
    .bike-discription__titile {
        font-size: 32px;
    }

    .bike-discription__signature {
        margin: 0 0 16px 0;
        font-size: 18px;
    }

    .bike-discription__text {
        font-size: 12px;
    }

    .bike-discription__button {
        font-size: 14px;
    }
}